[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "external/secp256k1"]
	path = external/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/oxen-encoding"]
	path = external/oxen-encoding
	url = https://github.com/oxen-io/oxen-encoding.git
